@using MyMoviesApi.Data
@using Microsoft.AspNetCore.Components.Web

@page "/MovieDelete/{Id:int}"

@inject HttpClient Http
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<h2>Delete</h2>
<h3>Are you sure you want to delete movie with id : @id</h3>
<br />
<div class="col-md-4">

    <table class="table">
        <tr>
            <td>Name</td>
            <td>@movie.Name</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>@movie.Genre</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>@movie.MyRating</td>
        </tr>
        <tr>
            <td>City</td>
            <td>@movie.Rating</td>
        </tr>
    </table>
    <div class="form-group">
        <input type="submit" value="Delete" @onclick="@(async () => await Delete())" class="btn btn-default" />
        <input type="submit" value="Cancel" @onclick="Cancel" class="btn" />
    </div>
</div>

@functions
{
    [Parameter]
    public int id { get; set; }
    Movie movie = new Movie();

    protected override async Task OnInitializedAsync()
    {
        movie = await Http.GetJsonAsync<Movie>("/api/Movie/Details/" + id);
    }

    protected async Task Delete()
    {
        await Http.DeleteAsync("api/Movie/Delete/" + id); NavigationManager.NavigateTo("/Movies");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/Movies");
    }
}